

<div class="auth-container">
    <div class="auth-box">
      <h2>LOGIN</h2>
      <form>
        <div class="input-container" id= "full-width">
          <label for="username">Username</label>
          <input type="text" id="username" class="custom-input">
        </div>
  
        <div class="input-container full-width">
          <label for="password">Password</label>
          <input type="password" id="password" class="custom-input">
        </div>
  
        <div class="checkbox-container">
          <input type="checkbox" id="remember-me">
          <label for="remember-me">Remember me</label>
        </div>
  
        <button class="full-width">   <a routerLink="/dashboard">LOGIN</a></button>
  
        <p>
          Forgot Username / Password?
        </p>
  
        <p>
          Don't have an account? <a routerLink="/register">Sign up</a>
        </p>
     

      </form>
    </div>
  </div>
  
  